<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.xiongdi.recognition"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <application
        android:name=".application.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".activity.StartActivity"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 登录界面 -->
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="sensorLandscape"/>

        <!-- 填写录入信息界面-->
        <activity
            android:name=".activity.FillInfoActivity"
            android:screenOrientation="sensorLandscape"/>

        <!-- 选择采集指纹还是照片的界面-->
        <activity
            android:name=".activity.GatherActivity"
            android:screenOrientation="sensorLandscape">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN"/>-->

            <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>

        <!-- 采集指纹的界面-->
        <activity
            android:name=".activity.GatherFingerprintActivity"
            android:screenOrientation="sensorLandscape"/>

        <!-- 采集照片的界面-->
        <activity
            android:name=".activity.GatherPictureActivity"
            android:screenOrientation="sensorLandscape"/>

        <!-- 裁剪照片的界面-->
        <activity
            android:name=".widget.crop.CropImageActivity"
            android:screenOrientation="sensorLandscape"/>

        <!-- 验证结果界面-->
        <activity
            android:name=".activity.VerifyResultActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme.NoActionBar">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->

                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>

        <!-- 验证指纹界面-->
        <activity
            android:name=".activity.VerifyFingerprintActivity"
            android:screenOrientation="sensorLandscape">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN"/>-->

            <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>

        <!--扫描二维码界面-->
        <activity
            android:name=".activity.ScanBarcodeActivity"
            android:screenOrientation="sensor">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN"/>-->

            <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>

        <!--搜索界面-->
        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="sensor">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN"/>-->

            <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>

    </application>

</manifest>
